.login-screen {
  .logo {
    display: flex;

    img {
      max-width: 150px;
      margin: 20px auto 0;
    }
  }

  .card {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-content {
      padding: 20px 10px;
    }
  }
}
