.login-screen {
  .logo-container {
    display: flex;

    img {
      max-width: 150px;
      margin: 20px auto 0;
    }
  }

  .login-card {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    flex-direction: column;

    .input-container {
      justify-content: space-between;
      margin: 10px 0 10px;

      .input {
        width: 1.8rem !important;
        height: 1.8rem;
        margin: 0 2px;
        font-size: 1rem;
        border-radius: 4px;
        border-width: 1px;
        border-style: dashed;
        border-color: var(--ion-item-color, #737373);
        outline: none;
        transition: 0.3s all linear;

        &.focus {
          border-style: solid;
          border-color: var(--ion-color-primary);
        }

        &.error {
          border-style: solid;
          border-color: var(--ion-color-danger);
        }

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        &:not([value=""]):not(.error) {
          border-style: solid;
          border-color: var(--ion-color-success);
        }
      }
    }
  }
}
