.offline,
.online {
  position: fixed;
  z-index: 1;
  font-size: 10px;
  top: 0;
  width: 100%;
  text-align: center;

  p {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    color: var(--ion-color-dark);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.offline {
  background: var(--ion-color-danger);

  p {
    animation: blink 1s infinite;
  }
}

.online {
  background: var(--ion-color-success);
  opacity: 0;
  animation: fadeOut linear 3s;
}
