.schedules-page {
  .unread {
    .badge {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      margin-top: 15px;
      margin-right: 8px;
      align-self: start;
      background-color: #3684ff;
    }

    h3 {
      font-weight: bold;
    }
  }
}
