.registration-modal-container {
  .modal-wrapper {
    position: absolute;
    bottom: 0;
    height: 45%;
    border-radius: 20px 20px 0 0;

    .content {
      padding: 0 20px;

      .title {
        h4 {
          color: var(--ion-color-primary);
        }

        p {
          margin-top: 0;
          color: #999999;
          font-size: small;
        }
      }
    }
  }
}
